{% extends 'gamefolio_app/base.html' %}
{% load tags %}

{% block title_block %}
    {{ game.title }}
{% endblock %}

{% block body_block %}
<header class="bg-dark py-0"> 
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-md-12 col-lg-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">{{ game.title }}</h1>
                    <hr class="hr-blurry text-white mt-1 mb-1 mx-1" style="width: 65%">
                    <div style = "color: #198754; font-size: 2em;">{{ game.average_text_rating }}</div>
                    <p style = "color: #198754;">Total Reviews: {{ game.total_reviews }}</p>
                    <a href = "{% url 'gamefolio_app:search' %}?genre={{game.genre}}"><button type="genre" class="btn btn-outline-success mb-2">{{ game.genre }}</button></a>
                    <a href="{% url 'gamefolio_app:add_to_list_form' game.id %}" class="btn btn-outline-success mb-2">Add to List</a>
                    <p class="lead fw-normal text-white-50 mb-4">{{ game.description }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 d-none d-lg-block text-center mb-2">
                <img class="img-fluid rounded-3 mt-5" src="{% get_image game '720p' %}" style="width: 250px;" alt="{{ game.title }}" />
                <div class = "row justify-content-center my-2" >
                    <div class = "px-0 mx-0" style = "width: 250px">
                        <div class="d-flex px-0 mx-0 align-bottom row" >
                            <div class="px-0 col-6 d-flex justify-content-start"><p class = "px-0 mx-0 py-0 my-0 text-white-50">Ratings </p></div>
                            <div class="px-0 col-6 d-flex justify-content-end"><p class = "px-0 mx-0 py-0 my-0 text-white-50">Total: {{game.total_reviews}}</p></div>
                        </div>
                        <hr class ="mb-2 mt-1" style="color: white;">
                        <div class = "row">
                            <div class = "d-sm-block justify-content-center col-8 d-flex mx-0 ps-2 pe-0">
                                <div id = "rating-distribution" class = "row mx-1 align-items-end" style = "height: 60px"> 
                                {% for rating in review_ratings %}
                                    <div class = "rating-bar" style = "height: {{rating.height}}%" data-bs-toggle="tooltip" data-bs-title="{{rating.count}} {{rating.rating}} reviews"></div>     
                                {% endfor %}
                                </div>
                            </div>
                            <div class = "d-flex align-items-center justify-content-center col-4 mx-0 px-0" style = "color: #198754; font-size: 2em;" data-bs-toggle="tooltip" data-bs-title="{{game.average_text_rating}}">{{ game.average_rating }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% if user.is_authenticated %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h3 class="fw-bolder">Leave a review:</h3>
                </div>
            </div>
            <div class="row gx-5 d-flex justify-content-left">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" class = "text-center">
                                {% csrf_token %}
                                <p><label for="id_rating">Rating:</label>  </p>
                                <div  id = "rating-input" class = "rating ">
                                    <div id = "rating-hover" class = "rating rating-hover"></div>
                                    <div id = "rating-actual" class = "rating rating-actual"></div>
                                    <input name = "rating" id = "id_rating" style="opacity: 0%; width: 0px !important; min-width: 0px;" value="" required type="input"></input>
                                </div>
                                <p><label for="id_content">Review Content:</label> 
                                <textarea name="content" cols="40" rows="5" class="form-control" required="" id="id_content"></textarea>
                            </p>
                            
                                <button type="submit" class="btn btn-outline-success">Submit Review</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<div class="row gx-5 d-flex justify-content-left">
    <div class="col-md-6 offset-md-3">
        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                <div class="text-center">
                    <p class="fw-bolder">Please <a href="{% url 'auth_login' %}">login</a> to leave a review.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Reviews</h2>
                </div>
            </div>
        </div>

        <br/>
        <div class="col-lg-4 col-xl-4 text-end">
            <div class="btn-group" role="group" aria-label="Sort reviews">
                <a href="?sort_reviews=recent" class="btn btn-outline-success">Sort by Recent</a>
                <a href="?sort_reviews=liked" class="btn btn-outline-success">Sort by Likes</a>
            </div>
        </div>
        <br/>

        <div class="row gx-5">
            {% for review in reviews %}
                <div class="col-md-6 col-lg-4 my-3 py-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row align-items-center mb-3">
                                <div class="col-md-4">
                                    <a href="{% url 'gamefolio_app:profile' review.author.user %}">
                                        <img class="border border-2 border-light shadow-sm img-fluid rounded game-review-image" src="{{ MEDIA_URL}}{{ review.author.picture }}" alt="{{ review.author.user }} profile picture" />
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <a class="user-review-link text-decoration-none link-dark" href="{% url 'gamefolio_app:profile' review.author.user %}">
                                        <h6 class="fw-semibold mb-0">{{ review.author.user }}</h6>
                                    </a>
                                    <div class="text-muted">{{ review.datePosted }}</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div style="color: #198754">{{ review.get_rating_display }}</div>
                                <div>{{ review.content|truncatechars:200 }}</div>
                            </div>
                            <div class="small text-muted"> {{ review.likes }} likes </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Related Games</h2>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            {% for related_game in related_games %}
                {% render_game_card related_game %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
