{% extends 'gamefolio_app/base.html' %}
{% load tags %}

{% block title_block %}
    {{ game.title }}
{% endblock %}

{% block body_block %}
    <div>
        <h1>{{ game.title }}</h1>
        <h3>{{ game.average_rating }}</h3>
        <p>Total Reviews: {{ game.total_reviews }}</p>
        <img src="{% get_image game '720p' %}" alt="{{ game.title }}" class="img-fluid">
        <p>{{ game.description }}</p>
    </div>

    <div>
        {% if user.is_authenticated %}
        <div>
            <h3>Leave a review:</h3>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit Review</button>
            </form>
        </div>
        {% else %}
        <p>Please <a href="{% url 'auth_login' %}">login</a> to leave a review.</p>
        {% endif %}

        <h3>Reviews</h3>
        {% if reviews %}
        <ul>
            {% for review in reviews %}
            <li>
                <strong>Author: {{ review.author }}</strong></br>
                <strong>Date Posted: {{ review.datePosted }}</strong></br>
                <strong>Rating: {{ review.rating }}</strong></br>
                <p>{{ review.content }}</p>
                <strong>Likes: {{ review.likes }}</strong>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No reviews have been made for this game yet.</p>
        {% endif %}
    </div>
{% endblock %}
