<ul class="nav flex-column"> 
    {% if games %}
        {% for game in games %}
        {% if game == current_game %}
            <li class="nav-item">
            <a class="nav-link active" href="{% url 'gamefolio_app:game' game.slug %}">
                <span data-feather="archive"></span>{{ game.title }} </a>
            </li> 
        {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'rango:game' game.slug %}"> 
            <span data-feather="archive"></span>{{ game.title }}
            </a>
            </li>
        {% endif %}
        {% endfor %}
    {% else %}
        <li class="nav-item">There are no games present.</li> 
    {% endif %}
    </ul>