{% extends 'gamefolio_app/base.html' %}

{% block title_block %}
    Authors
{% endblock %}

{% block body_block %}
    <div>
        <h1>Authors</h1>
    </div>
    <div class="container"> 
        <div class="row">
            {% if authors %} 
            <div class="panel-body">
                <div class="list-group">
                {% for author in authors %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <a href="{% url 'gamefolio_app:profile' author.user.username %}"> 
                                {{ author.user.username }}
                            </a> 
                        </h4>
                    </div> 
                {% endfor %}
                </div> 
            </div>
            {% else %}
            <p>There are no users present on Rango.</p> 
            {% endif %}
        </div>
    </div>
{% endblock %}