{% extends 'gamefolio_app/base.html' %}
{% load static %}
{% load tags %}

{% block title_block %}
    {{ list_obj.title }} - Games List
{% endblock %}

{% block body_block %}
<header class="bg-dark py-0"> 
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">{{ list_obj.title }}</h1>
                    <p class="lead fw-normal text-white mb-4">  by 
                        <a class="list-profile-link" href="{% url 'gamefolio_app:profile' list_obj.author.user.username %}" >{{ list_obj.author.user.username }}</a>
                    </p>
                    <p class="lead fw-normal text-white mb-4">{{ list_obj.description }}</p>
                    <p class="lead fw-normal text-white mb-4">views: {{ list_obj.views }}</p>
                    
                    {% if user.is_authenticated and user == list_obj.author.user %}
                    <div class = "row d-flex">
                        <form class = "col-3" method="get" action="{% url 'gamefolio_app:list_edit' author_username=list_obj.author.user.username slug=list_obj.slug %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">Edit List</button>
                        </form>
                        <form class = "col-3" method="post" action="{% url 'gamefolio_app:list_delete' author_username=list_obj.author.user.username slug=list_obj.slug %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete List</button>
                        </form>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static "images/homepage.png" %}" style="width: 250px; height: 250px;" alt="homepage image" /></div>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Games</h2>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            {% for entry in list_entries %}
                {% render_game_card entry.game%}
            {% endfor %}
        </div> 
    </div>
</section>


{% endblock %}
