{% extends 'gamefolio_app/base.html' %}
{% load tags %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
<header class="bg-dark py-0"> 
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">
                        {{ selected_user.username }}'s Profile
                        {% if user_profile.website %}
                        <p class="lead fw-normal text-white-50 mb-4"> - <a href="{{ user_profile.website }}" class="text-white">{{ user_profile.website }}</a></small>
                        {% endif %}
                        <p class="lead fw-normal text-white-50 mb-4"> {{ user_profile.bio }}</a></small>
                    </h1>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-flex text-center justify-content-end">
                <img class="shadow-sm rounded img-fluid user-profile-image my-5" src="{{ MEDIA_URL }}{{ user_profile.picture }}" alt="{{ selected_user.username }}'s profile image" />
            </div>
        </div>
    </div>
</header>

<!-- Edit Profile -->
{% if selected_user == user %}
<section class="py-5">
    <div class="container px-5 my-0">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Edit Your Profile</h2>
                </div>
            </div>
        </div>
        <div class="row gx-5 d-flex justify-content-left">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                            <form method="post" action="." enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="text-center gap-between-select-and-button">
                                    <button type="submit" class="btn btn-outline-success">Update</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- Lists -->
<section class="py-5">
    <div class="container px-5 my-0">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                {% if selected_user == user %}
                    <h2 class="fw-bolder">Your Lists</h2>
                {% else %}
                    <h2 class="fw-bolder">{{ selected_user.username }}'s Lists</h2>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row gx-5">
                {% if user_lists %}
                    {% for list in user_lists %}
                        <div class="col-lg-4 col-md-6 mt-3 user-list">  
                            <div class="card h-100 shadow border-0">
                                <div class="card-body p-4 d-flex flex-column justify-content-center">
                                    {% render_list_images list %}
                                    <h5 class="card-title mb-3">
                                        <a class="game-review-link" href="{% url 'gamefolio_app:list' list.author.user.username list.slug %}">
                                            {{ list.title }}
                                        </a>
                                    </h5>
                                    <p class="card-text mb-auto">{{ list.description|truncatechars:75 }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if selected_user == user %}
                    <a class="btn btn-outline-success mt-3" href="{% url 'gamefolio_app:create_list' %}">Create Your Own List Here</a>
                    {% endif %}
                    <ul class="pagination justify-content-center pt-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous" id = "prev-list-button">
                                <span aria-hidden="true">&laquo; Prev</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" id = "current-list-page">1</a></li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next" id = "next-list-button">
                                <span aria-hidden="true">Next &raquo;</span>
                                </a>
                            </li>
                            </ul>
                      </nav>
                    </ul>
                {% else %}
                    <p>No lists available.</p>
                {% endif %}

        </div>
    </div>
</section>

<!-- Reviews -->
<section class="py-5" id = "reviews">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                {% if selected_user == user %}
                    <h2 class="fw-bolder">Your Reviews</h2>
                {% else %}
                    <h2 class="fw-bolder">{{ selected_user.username }}'s Reviews</h2>
                {% endif %}
                </div>
            </div>
        </div>

        <br/>
        
        <div class="row gx-5 justify-content-start">
            <div class="col-lg-4 col-xl-4 text-end">
                <div class="btn-group" role="group" aria-label="Sort reviews">
                    <a href="?sort_reviews=recent#reviews" class="btn btn-outline-success">Sort by Recent</a>
                    <a href="?sort_reviews=liked#reviews" class="btn btn-outline-success">Sort by Likes</a>
                    <a href="?sort_reviews=rating#reviews" class="btn btn-outline-success">Sort by Rating</a>
                </div>
            </div>
        </div>
        <br/>
        
        <div class="row gx-5">
            {% if user_reviews %}
                {% for review in user_reviews %}
                    {% render_review review %}
                {% endfor %}
            {% else %}
                <p>No reviews available.</p>
            {% endif %}
        </div>
    </div>
    <!-- Pagination -->
    <form method="get" action="{% url 'gamefolio_app:profile' selected_user.username %}?sort_reviews_by={{ sort_reviews_by }}" id="page-form">
        <ul class="pagination justify-content-center">
            <input type="hidden" name="sort_reviews_by" value="{{ sort_reviews_by }}">
            {% if user_reviews %}  
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" aria-label="Previous" id = "prev-review-button">
                      <span aria-hidden="true">&laquo; Prev</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" id = "current-review-page">1</a></li>
                  <li class="page-item">
                    <a class="page-link" aria-label="Next" id = "next-review-button">
                      <span aria-hidden="true">Next &raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            {% endif %}
        </ul>
    </form>
        
</section>


{% endblock %}
